body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("src/bg.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .posButton {
  padding:5px 12px;
  font-size: 15px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
  transition: opacity 0.5s, border 0.5s;
}

.bigger{
  opacity: 0.5;
  position:fixed;
}

.RedRing {
  border:3px dotted rgba(255, 185, 103, .5);
  border-radius:50px;
  transition: border 0.7s;
  position:relative;
}

.icon {
  width: 50px;
  height: 50px;
  position: absolute;
}

.yellow {
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}